/*-----------------------*\
     Styling
\*-----------------------*/

$font-stack: Helvetica, sans-serif;
$font-color: #333;
$header-color: #383838;
$main-background-color: #2d5867;
$third-color: #1e2e4d;
$fourth-color: #000d11;
$fifth-color: #2c003a;

*:focus {
  outline: none;
}

html, body {
  font: 16px $font-stack;
  color: $font-color;
  background-color: $main-background-color;
}

.header {
  display: -webkit-flex;
  display: flex;
  position: fixed;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: $header-color;
}

.header-btns {
  width: 80px;
  height: 40px;
  border-radius: 0px;
  opacity: 0.7;
}

.new-poll-btn {
  @extend .header-btns;
}

.auth-btn {
  @extend .header-btns;
}

.container {
  padding-top: 80px;
}
